/* src/styles/globals.css */
/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css */
.rounded-bl-5xl {
  border-bottom-left-radius: 44px;
}

.rounded-bl-5xl {
  border-bottom-left-radius: 62px !important;
}

/* Estilo para navegadores Webkit (Chrome, Safari, Edge) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilo para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* styles/globals.css */
/* input[type="radio"]:checked {
  @apply text-lime;
} */


/* Cambia el color del borde y el fondo del radio button cuando está seleccionado */
input[type="radio"]:checked {
  border-color: grey !important; /* Cambia el color del borde */
  background-color: grey !important; /* Cambia el color de fondo */
  accent-color: hsl(61, 70%, 52%);
  /* outline: 4px solid white;
  outline-offset: -2px; */
}

/* input[type="radio"]:checked::before {
  content: '';
  display: inline-block;
  width: 0.75em; */
  /* height: 0.75em; */
  /* background-color: white; Color del anillo interno */
  /* border-radius: 50%;
  margin: auto;
} */

/* Quitar el borde de foco de todos los inputs cuando son seleccionados */
input:focus {
  outline: none;
}

/* También puedes hacerlo específico para tus inputs */
/* input[type="text"]:focus,
input[type="number"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
} */




/* Quitar el borde de foco por defecto */
input:focus {
  outline: none;
}

/* Agregar un borde de foco personalizado */
/* input:focus { */
  /* border: 2px solid #yourCustomColor; */
  /* O cualquier otro estilo que prefieras */
/* } */



/* Estilo personalizado para el fondo del label cuando el radio button está seleccionado */
/* input[type="radio"]:checked + label { */
  /* background-color: red !important; Cambia el color de fondo del label */
/* } */




